<main>
    <div id="today-msg">Today's messages....</div>

    <div>
        <% messages.forEach((msg, idx) => { %>
        <a href=<%= `/message?index=${idx}`%>>Message from <%= msg.user %></a>
        <br>
        <% }); %>
    </div>
</main>

<footer>
    <a href="/new">Write</a> a new message
</footer>