<form method="POST" action="/new">
    <div>
        <label>Enter your name: <input name="user" type="text"></label>
        <label>Write your message: <input name="text" type="text"></label>
    </div>

    <input type="submit" value="Send message">
</form>